<!Doctype html>
<html>
    <head>
        <title>Careers</title>
        <link rel="stylesheet" href="~/twitter-bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/UserStyles.css" />
    </head>
    <body>
        @RenderBody()
        @RenderSection("userScripts", required: false)
        <script src="~/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    </body>
</html>
